PORT=3000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:8080
MONGO_URI=
SESSION_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback
GOOGLE_APPLICATION_CREDENTIALS=./keys.json

OPENWEATHER_API_KEY=
NEWS_API_KEY=

HOME_ASSISTANT_URL=
HOME_ASSISTANT_TOKEN=
